<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="shortcut icon" href="/images/assets/icon2.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <%- include('./includes/links.ejs') %>
    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/forms.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">
  </head>
  <body>
    <header>
      <%- include('./includes/navbar.ejs') %>
    </header>
    <main>
      <section class="head mt-5">
        <h1 class="py-5 text-center">Admin</h1>
      </section>
      <ul class="nav nav-pills pb-3 d-flex gap-5 justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="active button" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#collectors" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Collectors</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="button" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#categories" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Categories</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="button" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#collections" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Collections</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="button" id="pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#items" type="button" role="tab" aria-controls="pills-disabled" aria-selected="false" >Items</button>
        </li>
      </ul>
      <section >
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="collectors" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
            
            <section class="head w-100">
              <h2 class="text-center">Collectors</h2>
            </section>
            <%- include('./includes/filterCollector.ejs') %>
              <section class="container-xxl">
                <div class="row">
                  <% resultCollector.forEach(coll => { %>
                    <div class="col-md-6 col-xl-4">
                      <div class="card mx-auto mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-4 my-auto">
                          <a href="/collectors/<%= coll.collector_id %>">
                            <img src="/images/collectors/<%= coll.collector_img %>" class=" object-fit-cover rounded img-fluid"  alt="...">
                          </a>
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <a href="/collectors/<%= coll.collector_id %>">
                                <h5 class="card-title"><%= coll.nick %></h5>
                              </a>
                              <table class="pb-2">
                                <tr>
                                  <th>
                                    ID
                                  </th>
                                  <td><%= coll.collector_id %></td>
                                </tr>
                                <tr>
                                  <th>
                                    Name
                                  </th>
                                  <td><%= coll.name %></td>
                                </tr>
                                <tr>
                                  <th>
                                    Last name
                                  </th>
                                  <td><%= coll.last_name %></td>
                                </tr>
                                <tr>
                                  <th>
                                    Phone
                                  </th>
                                  <td><%= coll.phone %></td>
                                </tr>
                                <tr>
                                  <th>
                                    Interest
                                  </th>
                                  <td><%= coll.interest %></td>
                                </tr>
                              </table>
                              <div class="text-end">
                                <img type="button" onclick="window.location.href='/admin/eraseCollector/<%= coll.collector_id %>'" class="icon me-3" src="/images/assets/delete.png" alt="">
                                <img type="button" onclick="window.location.href='/admin/editCollector/<%= coll.collector_id %>'" class="icon " src="/images/assets/edit.png" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    
                    </div>
                  <% }) %>
                </div>
              
                
              
              </section>
          </div>

          <div class="tab-pane fade" id="categories" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
            
            <section class="head">
              <h2 class="text-center">Categories</h2>
            </section>
            <%- include('./includes/filterCategory.ejs') %>
            <div style=overflow-x:auto; class="text-center">
              <button type="button" class="fs-6" data-bs-toggle="modal" data-bs-target="#addCategory">
                Add Category
              </button>
             
              
              <section class="container-xxl py-5">
                <div class="row row-gap-3">
                  <% resultCategories.forEach(cat => { %>
                  <div class="col-md-6 col-xl-3 ">
                    <div class="card mx-auto text-start" style="width: 18rem;">
                      <div class="card-body">
                          <a href="/items/category/<%= cat.category_id %>">
                          <h5 class="card-title"><%= cat.category_name %> </h5>
                          </a>
                      
                          <h6 class="card-subtitle mb-2 text-body-secondary">ID: <%= cat.category_id %></h6>
                        </div>
                        <div class="text-end p-3">
                          <img type="button" onclick="window.location.href='/admin/eraseCategory/<%= cat.category_id %>'" class="icon mx-3" src="/images/assets/delete.png" alt="">
                        </div>
                      </div>
                  </div>
                  <% }) %>
                </div>
              </section>
              
            </div>
          </div>

          <div class="tab-pane fade" id="collections" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">

            <section class="head w-100">
              <h2 class="text-center">Collections</h2>
            </section>
            <%- include('./includes/filterCollection.ejs') %>
            <section class="container-xxl py-5">
              <div class="row row-gap-3">
                <% resultCollection.forEach(collection => { %>
                <div class="col-md-6 col-xl-3 ">
                  <div class="card mx-auto text-start" style="width: 18rem;">
                    <div class="card-body">
                      <a href="/collections/<%= collection.collection_id %>">
                        <h5 class="card-title"><%= collection.collection_name %> 
                        </h5>
                      </a>
                    
                        <h6 class="card-subtitle mb-2 text-body-secondary">ID: <%= collection.collection_id %></h6>
                        <p class="card-text">Description: <%= collection.collection_description %></p>
                        <p class="card-text">Collector ID: <%= collection.collector_id %></p>
                        <p class="card-text">Collector: <%= collection.nick %></p>
                        <div class="text-end">
                          <img type="button" onclick="window.location.href='/admin/eraseCollection/<%= collection.collection_id %>'" class="icon mx-3" src="/images/assets/delete.png" alt="">
                        </div>
                      </div>
                    </div>
                </div>
                <% }) %>
              </div>
            </section>
          </div>
          <div class="tab-pane fade" id="items" role="tabpanel" aria-labelledby="pills-disabled-tab" tabindex="0">

            <section class="head w-100">
              <h2 class="text-center">Items</h2>
            </section>
            <%- include('./includes/filterItem.ejs') %>
            <!-- <div style="overflow-x:auto;">
              <table class="mx-auto">
                <thead>
                  <tr>
                    <th>Photo</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Year of Purchase</th>
                    <th>Description</th>
                    <th>Collector Nick</th>
                    <th>Collection</th>
                    <th>Category</th>
                  </tr>
                </thead>
                <tbody>
                  <% resultItem.forEach(item => { %>
                    <tr>
                      <td><img class="rounded-circle" src="/images/items/<%= item.item_img %>" alt=""></td>
                      <td><%= item.item_id %></td>
                      <td><%= item.item_name %></td>
                      <td><%= item.item_purchaseyear %></td>
                      <td style="min-width: 500px;"><%= item.item_description %></td>
                      <td><%= item.nick %></td>
                      <td><%= item.collection_name %></td>
                      <td><%= item.category_name %></td>
                      <td class="text-center"><img type="button" onclick="window.location.href='/admin/eraseItem/<%= item.item_id %>'" class="icon" src="/images/assets/delete.png" alt=""></td>
                      <td class="text-center"><img type="button" onclick="window.location.href='/collectors/<%= item.collector_id%>/editItem/<%= item.item_id %>'" class="icon" src="/images/assets/edit.png" alt=""></td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            </div> -->
            <section class="container-xxl">
              <div class="row">
                <% resultItem.forEach(item => { %>
                <div class="col-md-6 col-xl-4">
                  <div class="card mx-auto mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4 my-auto">
                          <a href="/items/<%= item.item_id %>">
                          <img src="/images/items/<%= item.item_img %>" class="img-fluid rounded" alt="...">
                        </a>
                        </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <a href="/items/<%= item.item_id %>">
                            <h5 class="card-title"><%= item.item_name %></h5>
                          </a>
                          <p class="card-text">Purchase year: <%= item.item_purchaseyear %></p>
                          <p class="card-text">Description: <%= item.item_description %></p>
                          <p class="card-text">Category: <%= item.category_name %></p>
                          <p class="card-text">Collector: <%= item.collector_name %></p>
                          <div class="text-end">
                            <img type="button" onclick="window.location.href='/admin/eraseItem/<%= item.item_id %>'" class="mx-3 icon" src="/images/assets/delete.png" alt="">
                            <img type="button" onclick="window.location.href='/collectors/<%= item.collector_id%>/editItem/<%= item.item_id %>'" class="icon" src="/images/assets/edit.png" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% }) %>
              </div>
            </section>

          </div>
        </div>
      </section>

      <!-- Modal -->

      <!-- Add Category -->
      <div class="modal fade" id="addCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Add Category</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="mx-auto" action="/admin/addCategory" method="post">
                <label >
                  Name
                  <input type="text" name="name">
                </label>
                <div class="d-flex gap-4">
                  <button class="fs-6">Aceptar</button>
                  <button type="button" class="fs-6"  data-bs-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </main>

    <%- include('./includes/footer.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>