<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="shortcut icon" href="/images/assets/icon2.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <%- include('../includes/links.ejs') %>
    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/forms.css">
  </head>
  <body>

    <header>
      <%- include('../includes/navbar.ejs') %>
    </header>

    <main class="d-flex flex-column justify-content-center" style="height: calc(100vh - 251.12px - 3rem);">
      <h1 class="text-center py-5">Register</h1>
      <form class="mx-auto" action="/collectors/register" method="post" enctype="multipart/form-data">
        <label >
          Nick
          <input type="text" name="nick" value="<%= values.nick %>">
          <% validations.forEach ((e)=>{ %>
            <% if(e.path == 'nick'){ %>
              <p style="color: red"><%= e.msg %></p>
            <% } %>
          <% }) %>
        </label>
        <label >
          Email
          <input type="text" name="email" value="<%= values.email %>">
          <% validations.forEach ((e)=>{ %>
            <% if(e.path == 'email'){ %>
              <p style="color: red"><%= e.msg %></p>
            <% } %>
          <% }) %>
        </label>
        <label >
          Password
          <input type="text" name="password" value="<%= values.password %>">
          <% validations.forEach ((e)=>{ %>
            <% if(e.path == 'password'){ %>
              <p style="color: red"><%= e.msg %></p>
            <% } %>
          <% }) %>
        </label>
        <label>
          <img src="/images/assets/upload.png" alt="upload icon">
          <input type="file" name="img" hidden>
        </label>
        <div class="d-flex gap-4">
          <button>Aceptar</button>
          <button type="button" onclick="window.location.href='/'">Cancelar</button>
        </div>
      </form>
    </main>

    <%- include('../includes/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>